* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Droid Sans", Tahoma, Geneva, Verdana, sans-serif,
    Geneva, Tahoma, sans-serif, "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  user-select: none;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body.dark-mode {
  background-color: #171818;
}
.btn {
  position: fixed;
  right: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 250px 3fr;
  width: 100%;
  place-items: center;
  margin-top: 40px;
}

.time--display {
  font-size: 64px;
  text-align: center;
}

.laptimer {
  margin: 0 auto;
  color: grey;
  font-size: large;
  align-self: center;
}

main {
  text-align: center;
  width: 70%;
  margin: 1em auto 1em;
  overflow-y: scroll;
  max-height: 250px;
  color: grey;
  align-self: flex-start;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

main::-webkit-scrollbar-track-piece:end {
  margin-bottom: 10px;
}

main::-webkit-scrollbar-track-piece:start {
  margin-top: 40px;
}

main::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main.dark-mode {
  background: #171818;
}

main.dark-mode::-webkit-scrollbar-track {
  background: #171818;
}

main.dark-mode::-webkit-scrollbar-thumb {
  background: #a5a5a53f;
}

.lap--heading {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.laps-table {
  margin: auto;
  width: 90%;
  color: rgb(165, 165, 165);
  border-collapse: collapse;
  position: relative;
}

.min {
  color: blue;
}

.max {
  color: red;
}

#arrowup {
  position: absolute;
  left: 0;
}

th {
  border-bottom: 1px solid #555;
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}

th:nth-child(2) {
  padding-left: 20px;
}

th.dark-mode {
  background: #171818;
}

tbody tr td:first-of-type {
  padding: 0.7em;
}

tbody tr td:nth-child(2) {
  padding-left: 2rem;
}

tbody tr td:last-of-type {
  font-weight: 500;
}

tr.max > td:first-child {
  position: relative;
}

tr.min > td:first-child {
  position: relative;
}

[arrow-up]::before {
  content: attr(arrow-up);
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  bottom: 6px;
  left: 0px;
  text-align: center;
  font-size: 19px;
  position: absolute;
}

[arrow-down]::before {
  content: attr(arrow-down);
  bottom: 5px;
  left: 0px;
  text-align: center;
  font-size: 19px;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button {
  border-radius: 45px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 3rem;
  color: white;
  background-color: royalblue;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  user-select: none;
}

section {
  margin: 4em auto 0;
  display: grid;
  align-self: flex-end;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row: 7;
}

.copyright {
  font-size: 14px;
  align-self: flex-end;
}

.start {
  grid-column: 2;
}

.stop {
  grid-column: 1;
  grid-row: 1;
}

.button--stop {
  background-color: crimson;
  color: white;
}

.button--start.dark-mode {
  background-color: rgba(100, 148, 237, 0.4);
}
.button--stop.dark-mode {
  background-color: rgba(220, 20, 60, 0.205);
}

.moveLeft {
  animation: movetoLeft 0.6s ease-out;
}

.moveRight {
  animation: movetoRight 0.6s ease-out;
}

.lap {
  grid-column: 3;
  grid-row: 1;
}

.button--lap {
  background-color: black;
  color: white;
  transition: 500ms ease-out;
}

.button--lap.dark-mode {
  background-color: rgb(80, 80, 80);
}

.reset {
  grid-column: 3;
  grid-row: 1;
}

.button--reset {
  color: white;
  background-color: black;
}

.button--reset.dark-mode {
  background-color: rgb(80, 80, 80);
}

.resume {
  grid-row: 1;
  grid-column: 1;
}

.button--resume.dark-mode {
  background-color: rgba(65, 105, 225, 0.4);
}

.button--hide {
  display: none;
}

@keyframes movetoLeft {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes movetoRight {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

@media (max-width: 600px) {
  @keyframes movetoLeft {
    from {
      transform: translateX(60px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes movetoRight {
    from {
      transform: translateX(-60px);
    }
    to {
      transform: translateX(0px);
    }
  }

  main {
    width: 90%;
  }

  section {
    gap: 0.5em;
    width: 80%;
  }
}

@media (min-width: 1500px) {
  .time--display {
    font-size: 100px;
  }

  main {
    width: 70%;
    max-height: 700px;
  }

  footer {
    width: 50%;
  }

  button {
    font-size: 70px;
    padding: 2rem 4rem;
  }

  .copyright {
    font-size: 20px;
  }
}

@media (min-height: 721px) {
  main {
    max-height: 350px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 4fr 0.1fr;
    place-items: center;
  }

  section {
    margin: 2em auto 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .copyright {
    align-self: end;
    grid-row: 13;
  }
}
